// =================================== //
//  Start Screenshot Styles//
// =================================== //
.screenshots-area {
	position: relative;
	margin: 50px 0 -170px;
	@media (max-width: 991px) {
		margin: 60px 0 80px;
	}
	.about-left-content {
		box-shadow: none;
		.section-title {
			background: $white !important;
			p {
				max-width: 400px;
			}
		}
		padding: 0;
		background: $white !important;
	}
	.right-side-content {
	}
	.screenshots-bg {
		position: absolute;
		right: -4.2%;
		top: 49%;
		@include transform(translate(-50%, -50%));
		@media (max-width: 1665px) {
			right: -12%;
		}
		@media (max-width: 1440px) {
			right: -10%;
			width: 40%;
		}
		@media (max-width: 1199px) {
			display: none;
		}
	}
}

.screenshots-carousel {
	margin-left: 80px;
	@media (max-width: 767px) {
		margin-left: 0px;
	}
	.owl-nav {
		top: 50%;
		right: -45%;
		@media (max-width: 1750px) {
			right: -10%;
		}
		@media (max-width: 1250px) {
			right: -5%;
		}
	}
	.single-screenshots {
		text-align: center;
		padding: 110px 0px;
		@media (max-width: 991px) {
			padding: 0px;
		}
		img {
			width: auto !important;
			display: inline-block;
			@media (max-width: 1199px) {
				width: 100% !important;
			}
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
}

// =================================== //
//  End Screenshot Styles//
// =================================== //
