$primary-font	: 'Roboto', sans-serif;
$title-font		: 'Rubik', sans-serif;

$primary-color	: #6900ff;
$primary-color2	: #d02eff;
$primary-color3	: #f13d80;
$primary-color4 : #f48464;
$title-color	: #222222;
$text-color		: #888888;

$white			: #ffffff;
$offwhite		: #f9f9f9;
$black			: #000000;




